@model Pecuniaus.Contract.Models.FinalVerificationModel
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.CWFinalValidation);
var permissions = Pecuniaus.UICore.SessionHelper.GetPagePermissionsByPage(Pecuniaus.UICore.Modules.CW_FinalValidation);
}
@using (Html.BeginForm("index", "FinalVerification", FormMethod.Post, new { id = "frmScanDoc", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{

    <div class="content-header">
        <div class="header-section">
            @Html.Partial("_Header")
            <div class="row">
                <div class="col-md-4 col-lg-6 hidden-sm">
                    <h1>
                        @Pecuniaus.Resources.Common.FinalValidation<br>
                    </h1>
                    @Html.Partial("_PageMessage")
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        @Html.Partial("_breadcrumbBase")
        <li>@Pecuniaus.Resources.Common.FinalValidation</li>

    </ul>

    <div>
        @Html.HiddenFor(m => m.documentId)
        @Html.HiddenFor(m => m.documentTypeID)
        @Html.HiddenFor(m => m.legalFile)
        @Html.HiddenFor(m => m.legalFilePath)

        @Html.HiddenFor(m => m.BLADocumentId)
        @Html.HiddenFor(m => m.BLADocumentTypeId)
        @Html.HiddenFor(m => m.BLAFile)
        @Html.HiddenFor(m => m.BLAFilePath)

    </div>
    <div class="content-header tophdrbuttons">
        <div class="row">
            <div class="pull-right">
                <a href="@Url.Action("ScanDoc", "DocumentScan" , new {area="Contract" })" class="btn btn-warning" target="_blank" @(isFormDisabled ? "disabled" : "")>
                    @Pecuniaus.Resources.Common.Document
                </a>
                @*<a href="@Url.Action("Index", "MerchantEvaluation", new { area = "Contract" })" class="btn btn-warning" target="_blank" @(isFormDisabled ? "disabled" : "")>
                        @Pecuniaus.Resources.Common.PQMerchantEvaluation
                    </a>*@
                @if (permissions.Write)
                {
                    <a href="#mod-kickback" id="btnKickback" class="btn btn-warning" data-toggle="modal" data-target="#mod-kickback" @(isFormDisabled ? "disabled" : "")>
                        @Pecuniaus.Resources.Common.Kickback
                    </a>

                    <button class="btn btn-success" type="submit" , name="Command" value="complete" @(isFormDisabled ? "disabled" : "")>@Pecuniaus.Resources.Common.Complete</button>
                    <button type="submit" class="btn btn-primary" name="Command" value="save" @(isFormDisabled ? "disabled" : "")>@Pecuniaus.Resources.Common.Save</button>
                    <a href="#mod_decline" class="btn btn-danger" data-toggle="modal" data-target="#mod_decline" @(isFormDisabled ? "disabled" : "")>
                        @Pecuniaus.Resources.Common.Decline
                    </a>}
            </div>
        </div>
    </div>
    <!-- All Boxes Content Start -->
    { Html.RenderAction("Info", "Merchant", new { area = "Common", merchantid = Pecuniaus.Contract.Repository.SessionVariables.CurrentMerchantID }); }

    <div class="row">
        <div class="col-md-12">

            <div class="form-horizontal ">
                <div class="block full">
                    <div class="block-title">
                        <div class="row">
                            <div class="col-md-8 ">
                                <h1>>@Pecuniaus.Resources.Common.FinalValidation</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class=" col-md-2">@Html.LabelFor(m => m.bankName)</div>
                        <div class=" col-md-3">@Html.TextBoxFor(m => m.bankName, new { @class = "form-control", @placeholder = "Name", @disabled = "disabled" })</div>
                        <div class=" col-md-2">@Html.LabelFor(m => m.accountNumber)</div>
                        <div class="col-md-3">@Html.TextBoxFor(m => m.accountNumber, new { @class = "form-control", @placeholder = "text comes here", @disabled = "disabled" }) </div>
                    </div>

                    <div class="row form-group">
                        <div class=" col-md-2">@Html.LabelFor(m => m.mcaAmount)</div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">@Pecuniaus.Resources.Common.CurrencySymbol</span>
                                @Html.TextBoxFor(m => m.mcaAmount, new { @class = "form-control", @placeholder = "text comes here", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class=" col-md-2 ">@Html.LabelFor(m => m.expenseAmount)</div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">@Pecuniaus.Resources.Common.CurrencySymbol</span>
                                @Html.TextBoxFor(m => m.expenseAmount, new { @class = "form-control", @placeholder = "text comes here", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class=" col-md-2">@Html.LabelFor(m => m.totalFundingAmount)</div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">@Pecuniaus.Resources.Common.CurrencySymbol</span>
                                @Html.TextBoxFor(m => m.totalFundingAmount, new { @class = "form-control", @placeholder = "text comes here", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post" class="form-horizontal ">
                        <div class="block full">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-angle-right"></i><a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q1">@Pecuniaus.Resources.Common.LegalDocument</a></h4>
                                </div>

                                <div id="faq1_q1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class=" col-md-12">
                                            <input type="file" name="file" id="Legalfile" class="btn btn-success" onchange="showpdfLegalpreview(this)" />
                                        </div>

                                        <div class=" col-md-12">
                                            <div class="widget-simple">
                                                <div class="widget-simple">
                                                    <object id="pdflegal" data="@Model.legalFilePath" type="application/pdf" width="100%" height="400">
                                                        <p>
                                                            It appears you don't have a PDF plugin for this browser.
                                                            You can <a href="@Model.BLAFilePath">
                                                                click here to
                                                                download the PDF file.
                                                            </a>
                                                        </p>

                                                    </object>
                                                    <!--<img id="imgprvw" class="img-responsive greenBorder img-thumbnail" src="@(String.IsNullOrEmpty(Model.legalFilePath) ? "/ScanDocuments/NoImage.jpg" : Model.legalFilePath)" alt="Uploaded image preview"> -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-angle-right"></i><a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q2">@Pecuniaus.Resources.Common.BLA</a></h4>
                                </div>
                                <div id="faq1_q2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <input type="file" name="BLAfile" id="BLAfile" class="btn btn-success" accept="application/pdf" onchange="showpdfpreview(this)" />
                                        </div>
                                        <div class="col-md-12">

                                            <object id="pdfbla" data="@Model.BLAFilePath" type="application/pdf" width="100%" height="400">
                                                <p>
                                                    It appears you don't have a PDF plugin for this browser.
                                                    You can <a href="@Model.BLAFilePath">
                                                        click here to
                                                        download the PDF file.
                                                    </a>
                                                </p>

                                            </object>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}

@Html.Action("Popup", "Kickback", new { area = "Contract", TaskTypeId = Pecuniaus.UICore.TaskTypes.CWFinalValidation })

@section Scripts {
    <script>
        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#imgprvw').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
        function showpdfpreview(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#pdfbla').attr('data', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }

        function showpdfLegalpreview(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#pdflegal').attr('data', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    </script>

}