@model IEnumerable<Pecuniaus.Models.Contract.OfferModel>
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.PQOfferAcceptance);}
@using GridMvc.Html

<div class="row">
    <div class="col-md-12">
        <div class="block full">
            <div class="block-title">
                <h2><strong>Saved</strong> Offer</h2>
            </div>
            <div class="row">
                @Html.Grid(Model, "_ListOfferTemp").Columns(columns =>
{

    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(o => RenderCol1(o));

}).WithPaging(10)

                @helper RenderCol1(Pecuniaus.Models.Contract.OfferModel m)
{
                    <h2>Offer @m.Id </h2>
                    <div>
                        <input type="radio" name="Selectedoffer"  onclick="SetSelected(@m.offerId)" value="@m.offerId" @(m.IsSelected ? "checked" : "") /></div>
                    <p>
                        <input type="hidden" id="expiryDate" value="@m.offerexpirationDate" data-taskid="@m.offerId" />
                        <input type="hidden" value="@m.offerId" data-taskid="@m.offerId" />
                        <input id="hdnSalesTaken" type="hidden" value="@m.salestaken" data-taskid="@m.salestaken" />
                        <strong>Time:</strong> @m.turn<br>
                        <strong>MCA Amount:</strong> @m.loanAmount.ToString("C")<br>
                        <strong>Owed Amount:</strong> @m.ownedAmount.ToString("C")<br>
                        <strong>% of Sales:</strong> @m.salestaken<br>
                        <input type="hidden" value="@m.merchantId" data-taskid="@m.merchantId" />
                        <input type="hidden" value="@m.contractId" data-taskid="@m.contractId" />
                        <strong>Proportion:</strong> @m.proportion<br>
                        <strong>Retention:</strong> @m.retention<br>
                    </p>
                    <a href="Javascript:void(0);" title="Select" onclick="EditOffer(@m.Id);"><i class="fa fa-pencil-square-o"></i></a>
                }
                <br />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#mod_SendAceptanceMail" class="btn btn-danger" id="btnSendEmail" data-offermodified="@ViewBag.OfferModifed" data-errmsg="Please save the offer before sending email." data-toggle="modal" data-target="#mod_SendAceptanceMail">
                            @Pecuniaus.Resources.Common.SendEmail
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

