@model Pecuniaus.Models.Contract.TradeReferenceModel
<div id="dvNewTradeReference">
    @using (Ajax.BeginForm("EditTradeReference", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "dvNewTradeReference",
        OnSuccess = "TradeReferenceUpdated()",
    }, new { @class = "form-horizontal form-bordered", role = "form" }))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(a => a.ReferenceId)
        @Html.HiddenFor(a => a.Id)
        
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.ReferenceName)
                @Html.TextBoxFor(m => m.ReferenceName, new { @class = "form-control", @placeholder = "Enter text.." })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.EditorFor(m => m.PhoneNumber)
            </div>

            <div class="col-md-3">
                <label>&nbsp;</label>
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="@Pecuniaus.Resources.Common.Update" />
                </div>
            </div>
        </div>
    }
</div>

