@model Pecuniaus.Models.Contract.BankStatementModel
<div id="dvNewStatement">
    @using (Ajax.BeginForm("EditStatement", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "dvNewStatement",
        OnSuccess = "StatementUpdated()",
    }, new { @class = "form-horizontal form-bordered", role = "form" }))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.StatementId)
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.StatementMonth)
                @Html.DropDownListFor(m => m.StatementMonthId, Model.StatementMonths, "", new { @class = "form-control", @data_placeholder = "Statement Month" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.StatementYear)
                @Html.DropDownListFor(m => m.StatementYear, Model.StatementYears, "", new { @class = "form-control", @data_placeholder = "Statement Year" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Amount)
                @Html.EditorFor(m => m.Amount)
            </div>
            <div class="col-md-3">
                <label>&nbsp;</label>
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="@Pecuniaus.Resources.Common.Update" /> <button class="btn btn-primary" onclick="CEProcessor()">@Pecuniaus.Resources.Common.Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

