@model Pecuniaus.Web.Models.LoginViewModel
@{ Layout = null; }
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Pecuniaus</title>
    <meta name="description" content="Pecuniaus">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/content/plugins.css")">
    <link rel="stylesheet" href="@Url.Content("~/content/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/content/site.css")">
        <script src="@Url.Content("~/Scripts/vendor/modernizr-2.7.1-respond-1.4.2.min.js")"></script>
</head>
<body style="background:#015eb0">
    <!-- Login Background -->
    <div id="login-background">
        <img src="img/placeholders/headers/login_header.jpg" alt="Login Background" class="animation-pulseSlow">
    </div>
    <!-- END Login Background -->
    <!-- Login Container -->
    <div id="login-container" class="animation-fadeIn">
        <!-- Login Title -->
        <div class="login-title text-center">
            <center>
                <img src="/images/logo1.png" class="img-responsive" alt="Responsive image">
            </center>
            </strong><br>
        </div>
        <!-- END Login Title -->
        <!-- Login Block -->
        <div class="block push-bit">
            <!-- Login Form -->
            <form action="" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.ValidationSummary()
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group border">
                            @*<span class="input-group-addon"><i>User id</i></span>*@
                            @Html.LabelFor(m => m.UserName, new { @class = "input-group-addon" })
                            @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control input-lg", @placeholder = "User Name" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group border">
                            @Html.LabelFor(m => m.Password, new { @class = "input-group-addon" })
                            @*<span class="input-group-addon"><i>Password</i></span>*@
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password", })
                            @*<input type="password" id="login-password" name="login-password" class="form-control input-lg" placeholder="Password">*@
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-8">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        &nbsp;&nbsp;&nbsp;&nbsp;@Html.LabelFor(m => m.RememberMe) <span></span>
                    </div>
                    <div class="col-xs-4 text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Login</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center"> <a href="javascript:void(0)" id="link-reminder-login"><small><u>Forgot password Click Here</u></small></a> </div>
                </div>
            </form>
            <!-- END Login Form -->
            <!-- Reminder Form -->
            <form action="login.html#reminder" method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderless display-none">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            <input type="text" id="reminder-email" name="reminder-email" class="form-control input-lg" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Reset Password</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center"> <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a> </div>
                </div>
            </form>
            <!-- Register Form -->
            <!-- END Register Form -->
        </div>
        <!-- END Login Block -->
    </div>
    <!-- END Login Container -->
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")


</body>
</html>
