<div class="widget">
    <div class="widget-extra blue_bg">
        <div class="widget-options">
            <div class="btn-group btn-group-xs notesmrgn"> <a href="#modal-searchpopup" data-toggle="modal" data-placement="bottom" class="btn btn-sm btn-default enable-tooltip"> <i class="fa fa-pencil"></i></a> <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Quick Settings"><i class="fa fa-cog"></i></a> </div>
        </div>
        <h3 class="widget-content-light">@Pecuniaus.Resources.Common.Merchant <strong>@Pecuniaus.Resources.Common.Information</strong></h3>
    </div>
    <div class="widget-simple">
        <div class="col-md-6">
            <address>
                <strong>@Pecuniaus.Resources.Common.MerchantName: </strong> @Pecuniaus.Resources.Common.RobertRyan<br>
                <strong>@Pecuniaus.Resources.Common.LegalName:</strong> @Pecuniaus.Resources.Common.Ryan <br>
                <strong>@Pecuniaus.Resources.Common.AssignedSalesRep:</strong> 20<br>
            </address>
        </div>
        <div class="col-md-6">
            <address>
                <strong>@Pecuniaus.Resources.Common.BusinessName: </strong> @Pecuniaus.Resources.Common.Testing<br>
                <strong>@Pecuniaus.Resources.Common.RNC:</strong> @Pecuniaus.Resources.Common.Close <br>
                <strong>@Pecuniaus.Resources.Common.ContractID:</strong> @Pecuniaus.Resources.Common.Close <br>
            </address>
        </div>
    </div>
</div>
