<div class="widget">
    <div class="widget-extra green_bg">
        <h3 class="widget-content-light">@Pecuniaus.Resources.Common.Owner <strong>@Pecuniaus.Resources.Common.Information</strong></h3>
    </div>
    <div class="widget-simple">
        <div class="col-md-6">
            <address>
                <strong>@Pecuniaus.Resources.Common.OwnerName: </strong> @Pecuniaus.Resources.Common.RobertRyan<br>
                <strong>@Pecuniaus.Resources.Common.Address:</strong> 00933083 <br>
                <br>
            </address>
        </div>
        <div class="col-md-6">
            <address>
                <strong>@Pecuniaus.Resources.Common.SSN: </strong> @Pecuniaus.Resources.Common.Testing<br>
                <strong>@Pecuniaus.Resources.Common.PhoneNumber:</strong> @Pecuniaus.Resources.Common.Close <br>
            </address>
        </div>
    </div>
</div>

