@model IEnumerable<Pecuniaus.Web.Models.MerchantsModel>

<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <div class="">
            <div class="block-options pull-right">
                <button data-dismiss="modal" class="btn btn-sm btn-danger" type="button"><i class="hi fa-1x hi-remove"></i></button>
            </div>
            <h2><strong>Merchant</strong> Listing</h2>
        </div>
    </div>
    <!-- END Modal Header -->
    <!-- Modal Body -->
    <div class="modal-body">
        <table width="100%">
            @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr onclick="LoadSFMerchantANDSetRecentVisit($('#modal-sf-listchild table tr').index($(this)));">
                        <td>
                            <div class="row popup_rowbg">
                                <div class="col-md-6">
                                    <address>
                                        <strong>Merchant Name: </strong> @Html.DisplayFor(modelItem => item.merchantName)<br>
                                        <strong>Merchant ID:</strong> @Html.DisplayFor(modelItem => item.merchantId) <br>
                                        <strong>Sales Rep:</strong> @Html.DisplayFor(modelItem => item.assignedSalesRep)<br>
                                    </address>
                                </div>
                                <div class="col-md-6">
                                    <address>
                                        <strong>Task Name: </strong> @Html.DisplayFor(modelItem => item.processor)<br>
                                        <strong>Task Status :</strong> @Html.DisplayFor(modelItem => item.processorCompany) <br>
                                    </address>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </table>
    @*<div class="row">
        <div class="col-md-6">
            <address>
                <strong>Merchant Name: </strong> Robert Ryan<br>
                <strong>Merchant ID:</strong> 00933083 <br>
                <strong>Sales Rep:</strong> 20<br>
            </address>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Task Name: </strong> Testing<br>
                <strong>Task Status :</strong> Close <br>
            </address>
        </div>
    </div>
    <div class="row popup_rowbg">
        <div class="col-md-6">
            <address>
                <strong>Merchant Name: </strong> Robert Ryan<br>
                <strong>Merchant ID:</strong> 00933083 <br>
                <strong>Sales Rep:</strong> 20<br>
            </address>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Task Name: </strong> Testing<br>
                <strong>Task Status :</strong> Close <br>
            </address>
        </div>
    </div>*@
</div>
<!-- END Modal Body -->
</div>
