@model Pecuniaus.Web.Models.CreditVolumesModel
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.PQMonthlyCreditCardVolumes);}
@using HtmlHelpers.Extension
@{
    ViewBag.Title = "Pecuniaus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="navbar navbar-default">
    <!-- Left Header Navigation -->
    <ul class="nav navbar-nav-custom">
        <li><a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');"><i class="fa fa-bars fa-fw"></i></a></li>

    </ul>
    @Html.Action("Index", "Search", new { area = "Common", WorkFlowID = 1, SearchType = "PT", ShowSf = false })

    <!-- END Left Header Navigation -->
    <!-- Right Header Navigation -->
    <ul class="nav navbar-nav-custom pull-right">
        <li>
            <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle"><i class="gi gi-notes_2 sidebar-nav-icon"></i><span class="label label-white label-indicator animation-floating">4</span> </a>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                <li><a href="javascript:void(0)"><i class="fa fa-plus pull-right"></i>Test Action here</a> <a href="javascript:void(0)"><i class="fa fa-video-camera pull-right"></i>Another Action</a> <a href="javascript:void(0)"><i class="fa fa-envelope-o pull-right"></i>Another Action</a> </li>
            </ul>
        </li>
        <!-- Dropdown -->
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/images/avatar.jpg" alt="avatar">
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                <li class="dropdown-header text-center">Account</li>
                <li><a href="page_ready_lock_screen.html"><i class="fa fa-lock fa-fw pull-right"></i>Lock Account</a> <a href="login.html"><i class="fa fa-ban fa-fw pull-right"></i>Logout</a> </li>
            </ul>
        </li>
        <!-- END Dropdown -->
    </ul>
    <!-- END Right Header Navigation -->
</header>
<!-- Page content -->
<div id="page-content">
    @using (Html.BeginForm("Index", "MerchantCreditVolume", FormMethod.Post, new { @class = "a", role = "form", }))
    {

        <div class="content-header">
            <div class="header-section">
                @Html.Partial("_MerchantWorkflowHeader")
                <div class="row">
                    <div class="col-md-4 col-lg-6 hidden-sm">
                        <h1>
                            @Pecuniaus.Resources.Common.MCCVHeader<br>
                        </h1>

                        @Html.Partial("_PageMessage")
                        @if (!string.IsNullOrEmpty(@ViewBag.SuccessMsg))
                        {
                            <div class="alert alert-success" role="alert">@ViewBag.SuccessMsg</div>
                        }
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            @Html.Partial("_PrequalbreadcrumbBase")
            <li>@Pecuniaus.Resources.Common.MCCVHeader</li>
        </ul>

        <div class="content-header tophdrbuttons">

            <div class="row">
                <div class="pull-right">
                    <a href="@Url.Action("ScanDoc", "DocumentScan" , new {area="Contract" })" class="btn btn-warning" target="_blank" @(isFormDisabled ? "disabled" : "")>
                        @Pecuniaus.Resources.Common.Document
                    </a>
                         <a href="#mod-kickback" class="btn btn-warning" data-toggle="modal" data-target="#mod-kickback" @(isFormDisabled ? "disabled" : "")>
                        Kickback
                    </a>
                    <input class="btn btn-success" type="submit" name="submit" value="@Pecuniaus.Resources.Common.Complete" @(isFormDisabled ? "disabled" : "") />
                    <input class="btn btn-primary" type="submit" name="submit" value="@Pecuniaus.Resources.Common.Save" @(isFormDisabled ? "disabled" : "") />
                    <a href="#mod_decline" class="btn btn-danger" data-toggle="modal" data-target="#mod_decline" @(isFormDisabled ? "disabled" : "")>
                        @Pecuniaus.Resources.Common.Decline
                    </a>
                </div>
            </div>
        </div>
        <!-- All Boxes Content Start -->
        { Html.RenderAction("Info", "Merchant", new { area = "Common", merchantid = Pecuniaus.UICore.SessionHelper.CurrentMerchantID }); }

        <!-- Datatables Content -->

    }
    <div class="row">
        <div class="col-md-12">
            <div class="block full">
                <div class="block-title">
                    <h2><strong>@Pecuniaus.Resources.CreditVolumes.CreditVolumes.Processor : </strong></h2>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" type="button" id="btnrequest" @(isFormDisabled ? "disabled" : "")>@Pecuniaus.Resources.CreditVolumes.CreditVolumes.SendRequest</button>
                </div>
                <div class="row clearfix">
                    <div class="widget-simple">
                        <strong>@Pecuniaus.Resources.CreditVolumes.CreditVolumes.RecievedResponse</strong><br>
                        <br>
                        <div >
                            <div id="dvEditCreditVolumes" class="form-group clearfix"  >
                                @*@{Html.RenderAction("AddCredit");}*@
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group clearfix" id="dvCreditVolume" data-source-url="@Url.Action("ListCreditVolumes")">
                                @{Html.RenderAction("ListCreditVolumes");}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- END Datatables Content -->
    </div>
    @Html.Action("Popup", "Kickback", new { area = "Prequel", TaskTypeId = Pecuniaus.UICore.TaskTypes.PQMonthlyCreditCardVolumes })
</div>

@section Scripts {

    @Scripts.Render("~/bundles/scriptsbundle")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    <script type="text/javascript">
        function CreditVolumesUpdated() {
            RefreshListCreditVolumesList();
        }
        function RefreshListCreditVolumesList() {
            var $dvCreditVolumes = $('#dvCreditVolume');
            var url = $dvCreditVolumes.attr("data-source-url");
            $dvCreditVolumes.load(url);
        }
        function EditCreditVolumes(creditcardactivityId) {

            $('#dvEditCreditVolumes').load('@Url.Action("EditCreditVolume")?id=' + creditcardactivityId);
        }
        function CreditVolumesDeleted() {
            RefreshListCreditVolumesList();
        }
        function CEProcessor() {
            $('#dvEditCreditVolumes').load('@Url.Action("AddCredit")');
        }

        function RefreshList() {
            var $dvProcessor = $('#dvEditCreditVolumes');
            var url = $dvProcessor.attr("data-source-url");
            $dvProcessor.load(url);
        }
        function VolumesDeleted() {
            RefreshListCreditVolumesList();
        }
    </script>
    <script>
    $(document).ready(function () {
        ajaxifyGridMvc("#dvCreditVolume");
        $("#btnrequest").click(function () {
            $.ajax({
                type: "POST",
                url: "/MerchantCreditVolume/SendRequesttoProcessor",
                dataType: "json",
                data: { merchantid: @Pecuniaus.UICore.SessionHelper.CurrentMerchantID },
                success: function (data) {
                    alert('Succesfully sent the request ');
                    //$('<b>Successfully updated</b>').appendTo('#divmessage');
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        })
       
        $('#dvEditCreditVolumes').load('@Url.Action("AddCredit")');
        });
        $(document).ajaxComplete(function () {
            $.validator.unobtrusive.parse('form');
        });

    </script>
}