@model List<Pecuniaus.Web.Models.MerchantDocumentModel>

@{
    ViewBag.Title = "MerchantDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content" style="min-height: 516px;">
    <div class="content-header">
        <div class="header-section">
            <div class="row">
                <div class="col-md-4 col-lg-6 hidden-sm">
                    <h1>Merchant Documents</h1>
                </div>
            </div>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Home</li>
        <li>Collection Workflow</li>
        <li><a href="">Merchant Documents</a></li>
    </ul>
    <div class="content-header tophdrbuttons">
        <div class="row">
            <div class="col-md-3">
                <label for="example-nf-email">Merchant :@ViewBag.merchantName</label>

            </div>
            <div class="col-md-3">
                <label for="example-nf-email">Merchant Id :@ViewBag.merchantId </label>

            </div>

            <div class="col-md-6">
                <div class="pull-right">                    
                    <button type="button" class="btn btn-primary">Return to collection Screen</button>
                </div>
            </div>
        </div>
        <br>


        <div class="table-responsive">
            @if (Model != null && Model.Count>0)
            {
            <table style="font-size:12px" class="table table-vcenter table-condensed table-bordered dataTable no-footer font-12" role="grid">
                <thead>
                    <tr role="row">
                        <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-sort="ascending">Select</th>
                        <th class="" tabindex="0" aria-controls="example-datatable" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model[0].DocumentName)
                        </th>
                        <th class="" tabindex="0" aria-controls="example-datatable" rowspan="1" colspan="1"> @Html.DisplayNameFor(model => model[0].DocumentTypeId)</th>
                        <th class="" tabindex="0" aria-controls="example-datatable" rowspan="1" colspan="1"> @Html.DisplayNameFor(model => model[0].UploadedDate)</th>
                        <th class="" tabindex="0" aria-controls="example-datatable" rowspan="1" colspan="1"> @Html.DisplayNameFor(model => model[0].UploadedBy)</th>
                        <th class="" tabindex="0" aria-controls="example-datatable" rowspan="1" colspan="1"> Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" value="option1" name="example-checkbox1" id="example-checkbox1"></td>
                        <td>1</td>
                        <td>Card NET</td>
                        <td>XXXXX</td>
                        <td><span class="skype_c2c_print_container notranslate">(123) 458 - 4589</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertocall="+911234584589" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">(123) 458 - 4589</span><span class="skype_c2c_free_text_span"></span></span></span></span></td>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="option1" name="example-checkbox1" id="example-checkbox1">
                                <span id="spanDocumentId" style="display:none;">@Html.DisplayFor(modelItem => item.DocumentId)</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UploadedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UploadedBy)
                            </td>

                            <td>
                                <div class="col-md-6" style="width:100%;">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-primary">Delete</button>
                                        
                                    </div>
                                </div>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            }
        </div>



    </div>
    <!-- Datatables Content -->
    <!-- END Datatables Content -->
    <!-- All Boxes Content Start -->
</div>
