@model Pecuniaus.Models.Contract.CorporateDocVerificationModel
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.CWReview);}

@using (Ajax.BeginForm("CorpDocVer", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "InitCorpDocsVeri()",
                UpdateTargetId = "tCorpDoc",
                InsertionMode=InsertionMode.Replace
            }, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-4 col-lg-6 hidden-sm">
            @Html.Partial("_PageMessage")
            @Html.ValidationSummary()
        </div>
        <div class="col-md-8 col-lg-6 pull-right">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@Pecuniaus.Resources.Common.Save" @(isFormDisabled ? "disabled" : "") />
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Contract/Views/VerificationTask/_CorpDocs.cshtml", Model)
}
    <div class="row">
        <div class="col-md-12">
            <div class="block full a form-horizontal">
                <div class="block-title">
                    <h2>@Pecuniaus.Resources.Common.Owners</h2>
                </div>

                <div id="dvAddCorpDoc" data-source-url="@Url.Action("AddCorpDoc", "VerificationTask")" data-source-edit-url="@Url.Action("UpdateCorpDoc", "VerificationTask")"></div>

                <div id="dvListCorpDoc" data-source-url="@Url.Action("ListCorpDoc", "VerificationTask")"></div>

                @*<div class="form-group">
                    <div class="widget-simple">
                        @Html.HiddenFor(m => m.DocTypeId, new { id = "hCopDocTId" })
                        <div id="dvCorpDocPrev" data-source-url="@Url.Action("GetDocListModal", "DocumentScan",
                    new {
                        area = "Contract",
                        MerchantID = Pecuniaus.UICore.SessionHelper.CurrentMerchantID,
                        ContractID = Pecuniaus.UICore.SessionHelper.ContractID
                    })">

                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="block full">
            <div class="block-title">
                <h2>@Pecuniaus.Resources.Common.Documents</h2>
            </div>

            <div class="form-group">
                @using (Html.BeginForm("UploadDoc", "DocumentScan", FormMethod.Post, new { id = "frmCorpDoc", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    var doctypeId = (int)Pecuniaus.Contract.DocumentTypes.LegalDocumentsOfTheCompany;
                    <div class="widget-simple">
                        <div class="col-md-12">
                            <div>
                                <a href="javascript:void(0)" data-addnewdoc title="@Pecuniaus.Resources.Common.AddNew"><i class="fa fa-book fa-2x"></i></a>
                                <a href="javascript:void(0)" data-editdoc title="@Pecuniaus.Resources.Common.Edit"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                <div style="display:none" data-uploadcont>
                                    <a href="javascript:void(0)" data-savedoc title="@Pecuniaus.Resources.Common.Save"><i class="fa fa-2x fa-floppy-o"></i></a>
                                    <input type="file" name="file" style="display:inline" />
                                    <a href="javascript:void(0)" data-canceldoc title="@Pecuniaus.Resources.Common.Cancel"><i class="hi fa-2x hi-remove"></i></a>
                                </div>
                                <input type="hidden" name="DocTypeId" value="@doctypeId" />
                                <input type="hidden" name="DocId" data-docid value="0" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="dvCorpDocPrev" data-source-url="@Url.Action("GetDocListUpload", "DocumentScan",
                    new {
                        area = "Contract",
                        DocType=doctypeId
                    })"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

