@model IEnumerable<Pecuniaus.MerchantProfile.Models.MPMerchantActivityModel>
@using (Ajax.BeginForm("ProcessContractActivity", "Profile", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "faq2_q11_q2" }))
{
@Html.Partial("_PageMessage")
@Html.ValidationSummary()
<div class="panel-body">
    <div class="row">
        <div class="block top3head">
            <div class="row">
                <div class="col-md-12">
                    @*@Pecuniaus.Resources.MerchantProfile.Activities.ActivityForMonth @Model[0].MonthName*@
                </div>
            </div>
            <br>
            <div class="table-responsive" style="overflow:auto;">
                <table role="grid" class="table table-vcenter table-condensed table-bordered dataTable no-footer font-12" style="font-size:12px" id="tblContractActivity">
                    <thead>
                        <tr role="row">
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Date</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Processor</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Retention</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Total</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Price</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Capital</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.IncomeThroughProcessor</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.OtherIncome</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.TypeOfActivity</th>
                            <th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Contact</th>
                            @*<th colspan="1" rowspan="1" aria-controls="example-datatable" tabindex="0" class="">@Pecuniaus.Resources.MerchantProfile.Activities.Note</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var modItem in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(item => modItem.ProcessedDate)</td>
                                <td>@Html.DisplayFor(item => modItem.ProcessorName)</td>
                                <td>@Html.DisplayFor(item => modItem.RetentionPercentage)%</td>
                                <td>@Html.DisplayFor(item => modItem.Total)</td>
                                <td>@Html.DisplayFor(item => modItem.Price)</td>
                                <td>@Html.DisplayFor(item => modItem.Capital)</td>
                                <td>@Html.DisplayFor(item => modItem.ProcessorIncome)</td>
                                <td>@Html.DisplayFor(item => modItem.OtherIncome)</td>
                                <td>@Html.DisplayFor(item => modItem.TypeofActivity)</td>
                                <td>@Html.DisplayFor(item => modItem.Contract)</td>
                                @*<td>@Html.DisplayFor(item => modItem.Note)</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
                <br>
            </div>
            <!-- END Datatables Content -->
            <!-- All Boxes Content Start -->
        </div>
    </div>
</div>
}