@model IEnumerable<Pecuniaus.Models.SearchResultModel>

@using GridMvc.Html

<div  class="">
    @Html.Grid(Model, "_SearchGridTemp").Columns(columns =>
{
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(o => RenderCol1(o));

    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(o => RenderCol2(o));

}).WithPaging(4)

    @helper RenderCol1(Pecuniaus.Models.SearchResultModel m)
{
    <address>
        <input type="hidden" value="@m.MerchantId" data-taskid="@m.TaskTypeId" data-contractid="@m.contractid" />
        <strong>Merchant Name</strong> @m.MerchantName<br>
        <strong>Merchant ID:</strong> @m.MerchantId<br>
        <strong>Agent:</strong> @m.assignedUser<br>        
    </address>

    @*<a href="?merchantid=@m.MerchantId" title="">@m.MerchantName</a>*@
}
    @helper RenderCol2(Pecuniaus.Models.SearchResultModel m)
{

    <address>
        <strong>Task Name:</strong> @m.TaskName<br>
        <strong>Task Status:</strong> @m.TaskStatus<br>
        <strong>Assigned Date:</strong> @m.AssignedDate<br>        
        <strong>Completion Date:</strong> @m.CompletionDate<br>    
    </address>
    @*<a href="?merchantid=@m.MerchantId" title="">@m.MerchantName</a>*@
}


</div>