@model Pecuniaus.Models.Contract.BankInfoVerificationModel
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.CWContract);}

@using (Ajax.BeginForm("BankInfoVer",  null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "InitBankInfo()",
                UpdateTargetId = "tBankInfo",
                InsertionMode=InsertionMode.Replace
            }, new { @class = "form-horizontal", role = "form" }))
{

    <div class="row">
        <div class="col-md-4 col-lg-6 hidden-sm">
    @Html.Partial("_PageMessage")

            @Html.ValidationSummary()
        </div>
        <div class="col-md-8 col-lg-6 pull-right">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="@Pecuniaus.Resources.Common.Save" @(isFormDisabled ? "disabled" : "") />
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Contract/Views/VerificationTask/_BankInfo.cshtml", Model)
}
