@model Pecuniaus.Models.Contract.CommercialNameVeriModel

@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.CWVerificationTask);}
@using (Html.BeginForm("CommercialName", "VerificationTask", FormMethod.Post,  new { id = "frmScanDoc", @class = "form-horizontal", role = "form" }))
{
<div class="content-header">
    <div class="header-section">
        @Html.Partial("_Header")
        <div class="row">
            <div class="col-md-4 col-lg-6 hidden-sm">
                <h1>
                    @Pecuniaus.Resources.Common.VerificationTask<br>
                    @*<small>Any sample text comes here</small>*@
                </h1>
                @Html.Partial("_PageMessage")

            </div>
        </div>
    </div>
</div>

<ul class="breadcrumb breadcrumb-top">
    @Html.Partial("_breadcrumbBase")
    <li><a href="@Url.Action("BankInformation", "VerificationTask")">Verification</a></li>
    <li>@Pecuniaus.Resources.Contract.CommertialNameVerification.CommercialNameVerification</li>
</ul>
<div class="content-header tophdrbuttons">
    <div class="row">
        <div class="pull-right">
            <a href="@Url.Action("ScanDoc", "DocumentScan" , new {area="Contract" })" class="btn btn-warning" target="_blank" @(isFormDisabled ? "disabled" : "")>
                @Pecuniaus.Resources.Common.Document
            </a>
            <a href="#mod-kickback" id="btnKickback" class="btn btn-warning" data-toggle="modal" data-target="#mod-kickback" @(isFormDisabled ? "disabled" : "")>
                @Pecuniaus.Resources.Common.Kickback
            </a>
            <button class="btn btn-success" type="submit"  name="button" value="Complete" @(isFormDisabled ? "disabled" : "")>@Pecuniaus.Resources.Common.Complete</button>
            <input type="submit" class="btn btn-primary" value="@Pecuniaus.Resources.Common.Save" @(isFormDisabled ? "disabled" : "") />
            <a href="#mod_decline" class="btn btn-danger" data-toggle="modal" data-target="#mod_decline" @(isFormDisabled ? "disabled" : "")>
                @Pecuniaus.Resources.Common.Decline
            </a>
        </div>
    </div>
    @Html.Partial("_SubNav")
</div>

{ Html.RenderAction("Info", "Merchant", new { area = "Common", merchantid = Pecuniaus.Contract.Repository.SessionVariables.CurrentMerchantID }); }


<!-- Datatables Content -->
@Html.Partial("_CommertialName",Model)
}

<div class="row">
    <div class="col-md-12">
        <div class="block full">
            <div class="block-title">
                <h2>@Pecuniaus.Resources.Common.Documents</h2>
            </div>

            <div class="form-group">
                @using (Html.BeginForm("UploadDoc", "DocumentScan", FormMethod.Post, new { id = "frmCommnDoc", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    var doctypeId = Model.DocTypeId;
                    <div class="widget-simple">
                        <div class="col-md-12">
                            <div>
                                <a href="javascript:void(0)" data-addnewdoc title="@Pecuniaus.Resources.Common.AddNew"><i class="fa fa-book fa-2x"></i></a>
                                <a href="javascript:void(0)" data-editdoc title="@Pecuniaus.Resources.Common.Edit"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                <div style="display:none" data-uploadcont>
                                    <a href="javascript:void(0)" data-savedoc title="@Pecuniaus.Resources.Common.Save"><i class="fa fa-2x fa-floppy-o"></i></a>
                                    <input type="file" name="file" style="display:inline" />
                                    <a href="javascript:void(0)" data-canceldoc title="@Pecuniaus.Resources.Common.Cancel"><i class="hi fa-2x hi-remove"></i></a>
                                </div>
                                <input type="hidden" name="DocTypeId" value="@doctypeId" />
                                <input type="hidden" name="DocId" data-docid value="0" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="dvComNameDoc" data-source-url="@Url.Action("GetDocListUpload", "DocumentScan",
                    new {
                        area = "Contract",
                        DocType=doctypeId
                    })"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Action("Popup", "Kickback", new { area = "Contract", TaskTypeId = Pecuniaus.UICore.TaskTypes.CWVerificationTask})


<!-- END Datatables Content -->

@section Scripts {
@Scripts.Render("~/bundles/ajaxform")
<script src="@Url.Content("~/Areas/Contract/Scripts/CommertialNameVeri.js")"></script>
<script>
    $(function () {
        InitCommertialNameVeri();
    });
    </script>
}